/* src/components/Layout.css */

.layout {
  display: flex ;
  flex-direction: column ;
  min-height: 100vh ;
}

.layout-header {
  background-color: #0464b3;
  color: #FFFFFF;
  padding: 0px;
  text-align: center;
}

.layout-main {
  flex: 1 !important;
}

.layout-footer {
  background-color: #282C34 !important;
  color: white !important;
  text-align: center !important;
  padding: 10px !important;
}